#book {
    overflow-y:hidden;
    overflow-x:hidden;
}
@media screen and (max-width: 399px) {
    html {
      font-size: 42%;
    }
}
@media screen and (min-width: 400px) and (max-width: 479px) {
    html {
      font-size: 48%;
    }
}
@media screen and (min-width: 480px) and (max-width: 559px) {
    html {
      font-size: 52%;
    }
}
@media screen and (min-width: 560px) and (max-width: 639px) {
    html {
      font-size: 60%;
    }
}
@media screen and (min-width: 640px) and (max-width: 719px) {
    html {
      font-size: 68%;
    }
}
@media screen and (min-width: 720px) and (max-width: 799px) {
    html {
      font-size: 76%;
    }
}
@media screen and (min-width: 800px) and (max-width: 879px) {
    html {
      font-size: 84%;
    }
}
@media screen and (min-width: 880px) and (max-width: 959px) {
    html {
      font-size: 92%;
    }
}
@media screen and (min-width: 960px) and (max-width: 1039px) {
    html {
      font-size: 100%;
    }
}
@media screen and (min-width: 1040px) {
    html {
      font-size: 100%;
    }
}
.content{
    width: 90%;
    max-width: 1024px;
    margin:0 auto 0 auto;
}
.quote_box{
    width: 90%;
    max-width: 1024px;
    margin:0 auto 0 auto;
    border: solid white 0.25rem;
}
.quote_box img{
    width:5%;
    margin:1.5rem;
    display:block;
}
.quote_box p{
    margin:1.5rem;
}
.flex-container{
    display:flex;
}
.header_img{
    width:100%;
}
.title{
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
}
.subtitle{
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    line-height:3rem;
}
.page_subtitle{
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    line-height:2rem;
    color:#E72D56;
}
.toc_subtitle1{
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    line-height:3rem;
    color:#E72D56;
    padding-top:1rem;
    padding-bottom:1rem;
    display:block;
    text-decoration:none;
}
.toc_subtitle1:hover{
    background-color:#E72D56;
    color:#FFFFFF;
    cursor:pointer;
    text-decoration:none;
}
.toc_subtitle1 .text{
    margin-left:4rem;
    line-height:2rem;
}
.toc_subtitle2{
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    line-height:2rem;
    color:#E72D56;
}
.subsubtitle{
    font-family: roc-grotesk,sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}
.text{
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.text_ind{
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-indent:1rem;
}
.text_bold{
    font-weight:600;
}
.title_outer{
    height:min-content;
    width: 90%;
    display:inline-flex;
    margin-top:5%;
    margin-bottom:5%;
}
.title_inner .text{
    margin:0;
}
.title_inner .title{
    line-height:4rem;
}
.rectangle_red{
    width:0.7rem;
    margin-right:5%;
    background:#e72d56;
}
.rectangle_white{
    width:0.7rem;
    margin-right:5%;
    background:#FFFFFF;
}

#message_from_president{
    background-color:#e72d56;
    padding-bottom:3rem;
}
.sec2card{
    line-height:2rem;
    color:#FFFFFF;
    width:35%;
    margin-right: 12%;
}
.sec2card img{
    width:100%;
    margin-bottom:5%;
}
.readmore{
    color:#FFFFFF;
    max-height:30rem;
    position:relative;
    overflow:hidden;
    text-indent:1rem;

    transition:max-height 0.15s ease-out;

}
.readmore.expand{
    max-height: 5000px !important;
    transition:max-height 0.35s ease-in-out;
  }  
.readmore-link{
    position: absolute;
    bottom:0;
    display: flex;
    width:100%;
    height: 75%;
    justify-content:center;
    align-items:flex-end;
    color: #FFFFFF;
    font-weight:normal;
    font-size:1.5rem;
    background-image: linear-gradient(to bottom, transparent, #E72D56);
    cursor: pointer;
  }
  
.readmore-link.expand {
    position: relative;
    background-image: none;
    padding-top:1rem;
    height:1rem;
  }
  
  .readmore-link:after {
    content:"View More";
  }
  .readmore-link.expand:after{
    content:"View Less";
  }
#small_gives_us{
    padding-bottom:3rem;
}
.sec3_container{
    display:inline-flex;
    width:100%;
    height:35vw;
    max-height:410px;
    justify-content:space-between;
}
.sec3_card1{
    width:49%;
}
.sec3_card1 .subtitle{
    display:flex;
    position:absolute;
    align-items: flex-end;
    justify-content: center;
    width:20rem;
    height:35vw;
    max-height:410px;
    max-width:510px;
    z-index:3;
    padding-left:3rem;
    padding-bottom:1rem;
    color:#FFFFFF;
}
.sec3_card1 img{
    width:100%;
    max-width:510px;
    position:relative;
}
.sec3_card1:hover{
    box-shadow: 0 0 3.3vw rgba(0,0,0,.3); 
    cursor:pointer;
    transform:scale(1.02);
}
#the_start_of_something_big{
    background-color:#e72d56;
}
#cluster_updates{
    margin-bottom:3rem;
}
.sec5_container{
    width:100%;
    display:flex;
}
.sec5_card{
    width:50%;
}
.sec5_card img{
    width:100%;
}
.sec5_card .subtitle{
    font-size:2.8rem;
    display:flex;
    position:absolute;
    align-items: flex-end;
    justify-content: center;
    width:25rem;
    height:35vw;
    max-height:510px;
    max-width:510px;
    z-index:3;
    padding-left:3rem;
    padding-bottom:1rem;
    color:#FFFFFF;
}
.sec5_card:hover{
    box-shadow: 0 0 3.3vw rgba(0,0,0,.3); 
    cursor:pointer;
    transform:scale(1.01);
}
.sec5_card2{
    width:50%;
}
.sec5_card2 img{
    width:100%;
}
#financial_health{
    background-color: #e72d56;
    padding-bottom:3rem;
}
#appendices{
    background-color:#346BB3;
    padding-bottom:3rem;
}
#appendices .subtitle{
    font-size:2.9rem;
    color:#FFFFFF;
    text-decoration: underline;
}
#footer{
    padding-top:3rem;
    width:100%;
}
#college_profile_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    border:solid grey 0.25rem;
}
#open_college_profile_page:hover{
    cursor:pointer;
    transform:scale(1.02);
}
#open_appendix_a_page:hover{
    cursor:pointer;
    transform:scale(1.02);
}
#open_appendix_b_page:hover{
    cursor:pointer;
    transform:scale(1.02);
}
#open_appendix_c_page:hover{
    cursor:pointer;
    transform:scale(1.02);
}
#open_financial_page:hover{
    cursor:pointer;
    transform:scale(1.02);
}
#our_true_colours_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#student_life_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#destination_college_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#community_partnerships_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#health_human_services_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#bio_economy_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#advanced_manufacturing_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#steam_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#creative_communication_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#progressive_trade_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#financial_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#appendix_a_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#appendix_b_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
#appendix_c_page{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
}
.row{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.column{
    flex:50%;
}
.column img{
    width:95%;
}
.bio_container{
    display:flex;
    margin-top:2rem;
}
.bio_container img{
    display:inline-block;
    width:20%;
    height:20%;
    margin-right:1.5rem;
}
.bio_text{
    display:inline-block;
    width:80%;
    margin-left:1.5rem;
}
.bio_text .subsubtitle{
    color:#346BB3;
}
.bio_text .text_ind{
    font-size:1rem;
}
.page_exit {
    top:1vw;
    right:4vw;
    position:fixed;
    width:3rem;
    height:3rem;
    background-image: url(./assets/exit.svg);
    background-size:cover;
}
@media screen and (max-width: 900px) {
    .page_exit {
        top:3vw;
      width:6vw;
      height:6vw;
    }
}
.page_exit:hover {
    cursor:pointer;
    transform:scale(1.02);
}
#toc{
    z-index:1000;
    width:94vw;
    left:2.5vw;
    height:100vh;
    position:fixed;
    background-color:#FFFFFF;
    overflow-y:auto;
    visibility:hidden;
    padding-top:2rem;
    border:solid grey 0.25rem;
    color:#E72D56;
}

.containa {
    scroll-behavior: smooth;
    width: 1200px;
    max-height:850px;
    margin:0 auto 0 auto;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width:thin;
    scroll-snap-type: y mandatory;
    position:relative;
}
.panel {
    width:1200px;
    scroll-snap-align: start;
    height: 850px;
    background-color:#E72D56;
}
#panel_two {
    display:none;
}
.zero {
    position:relative;
}
.one {
    background-image:url(./assets/background-1@2x.png);
    background-size:cover;
    position:relative;
}
.two {
    background-image: url(./assets/background-2@2x.png);
    background-size:cover;
    position:relative;
}
#logo2x {
    position:absolute;
    left:5%;
    top:10%;
}
#title2x {
    position:absolute;
    left:5%;
    bottom:40%;
}
#student1 {
    position:absolute;
    bottom:0;
    left: 34%;
    width: 42%;
    z-index: 5;
}
#bigcircle {
    position:absolute;
    width: 30%;
    bottom: 10%;
    left: 4%;
    z-index: 5;
}
#page2text {
    position:absolute;
    width: 20%;
    bottom:22%;
    left: 10%;
    opacity: 1;
    z-index: 5;
}
#page2line {
    position:absolute;
    width: 0%;
    left: 31%;
    bottom:43%;
}
#page3dot {
    position:absolute;
    width:8%;
    right:20%;
    top:20%;
    z-index: 5;
}
#page3text {
    position:absolute;
    width:12%;
    right:5%;
    top:20%;
    z-index:5;
}
#seasaw {
    position:absolute;
    width: 70%;
    bottom:9%;
    left: 14%;
    transform: rotate(-45deg);
}
#seasawstand {
    position:absolute;
    width: 6%;
    bottom:9%;
    left:45%;
}
#page5dot {
    position:absolute;
    width:9%;
    top:18%;
    left: 48%;
}
#page5text {
    position:absolute;
    width: 35%;
    right: 4%;
    bottom: 30%;
}
#logo2x2 {
    position:absolute;
    left:5%;
    top:10%;
    opacity:0;
    z-index:7;
}
#title2x2 {
    position:absolute;
    left:5%;
    bottom:40%;
    opacity:0;
    z-index:7;
}
#animation{
    width:100%;
    background-color:#E72D56;
    position:relative;
}
@media screen and (max-width: 1250px) {
    #animation{
        display:none;
    }
}
